@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --color: #4f1a20;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.bg-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(8px);
}
.container {
  position: absolute;
  height: 600px;
  width: 500px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
.thumbnail {
  width: 100%;
  height: 70%;
  transition: 1s;
}
.player {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: -webkit-linear-gradient(
    45deg,
    rgb(40, 40, 40),
    rgb(133, 133, 133)
  );
}
.name-and-controls {
  display: flex;
  align-items: center;
  height: 65%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}
.play-pause {
  width: 50px;
  height: 50px;
  filter: invert(1);
}
.artist {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-top: 2%;
  padding-left: 5%;
}

.prevNext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  width: 10%;
  height: 100%;
}
.next-btn {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.prev-btn {
  height: 30px;
  width: 30px;
  filter: invert(1);
}
.artist-name {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.song-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.progress-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  height: 35%;
}
.currentTime {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #fff;
}
.progress-bar {
  appearance: none;
  height: 5px;
  background: #000;
  width: 60%;

  border-radius: 30px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  background: var(--color);
}
.durationTime {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #fff;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    height: 50vh;
  }
}
